
	/*=========================*/
    /* 각 섹션별 텍스트 꾸밈:S */
	/*=========================*/
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #FFFFFF;
		margin:0;
		padding:0;
	}

	.intro p{
		color: #fff;
	}
	/*=========================*/
    /* 각 섹션별 텍스트 꾸밈:E */
	/*=========================*/

    /*=============================*/
    /* 각 섹션별 텍스트 중앙배치:S */
	/*=============================*/
	.section{
		text-align:center;
	}
    /*=============================*/
    /* 각 섹션별 텍스트 중앙배치:E */
	/*=============================*/

	/*======================*/
    /* 헤더영역, 푸터영역:S */
	/*======================*/
	#header, #footer{
		position:fixed;
    /*	height: 50px;*/
		display:block;
		width: 100%;
    /*	background: #333;*/
		z-index:9;
		text-align:center;
		color: #f2f2f2;
    /*	padding: 50px 0 0 0;*/
	}

	#header{
		top:0px;
	}

	#footer{
        bottom:0px;
	}
	/*======================*/
    /* 헤더영역, 푸터영역:E */
	/*======================*/

	/*=================================*/
    /* 섹션2,3 트리거(텍스트,이미지):S */
	/*=================================*/
    #infoMenu {
        bottom: 80px;
    }

    #infoMenu li a {
        color: #fff;
        z-index: 999;
    }

    #section2 img{
        left: 130%;
        position:relative;
        transition: all 800ms ease;
    }

    #section2 p{
        opacity: 0;
        transition: all 800ms ease;
    }

    #section2 h1{
        font-size: 5em;
		font-family: arial,helvetica;
		color: #000000;
		margin:0;
		padding:0;
        opacity: 0;
        transition: all 800ms ease;
    }

    #section3 .intro{
        left: -130%;
        position:relative;
        transition: all 800ms ease;
    }

    #section3 .intro{
        left: -130%;
        position:relative;
        transition: all 800ms ease;
    }

    /**
    * Here we fire the animation for section 3.
    * As the fp-viewing class in the body changes on each section and slide.
    */

    body.fp-viewing-3rdPage #section3 .intro{
        left: 0%;
    }

	/*=================================*/
    /* 섹션2,3 트리거(텍스트,이미지):E */
	/*=================================*/

	/* Style for our header texts
	* --------------------------------------- */
	.layer h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
		overflow: hidden;
	}

	#myVideo{
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: black; /* in case the video doesn't fit the whole page*/
  		background-image: /* our video */;
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
   		z-index:3;
	}

	/* Layer with position absolute in order to have it over the video
	* --------------------------------------- */
	#section3 .layer{
		position: absolute;
		z-index: 4;
		width: 100%;
		left: 0;
		top: 43%;

		/*
		* Preventing flicker on some browsers
		* See http://stackoverflow.com/a/36671466/1081396  or issue #183
		*/
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	/*solves problem with overflowing video in Mac with Chrome */
	#section3{
		overflow: hidden;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}

	/* Hiding video controls
	* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
	* --------------------------------------- */
	video::-webkit-media-controls {
	  display:none !important;
	}

